<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{% block title %}LanMPD{% endblock %}</title>
		<link rel="stylesheet" href="/media/css/style.css" />
    <script type="text/javascript" src="/media/javascript/jquery.js" />
    <script type="text/javascript">
      {% block javascript %}{% endblock %}
    </script>
	</head>

  <body>
    <h1 id="header">lanmpd</h1>
		{% block content %}{% endblock %}	
	</body>
</html>

