{% extends "base.html" %}


{% block title %}LanMPD Control{% endblock %}




{% block headline %}LanMPD Control Center{% endblock %}



{% block content %}


<center>
<p>
{% if playback %}
	<img src="/media/images/icons/control_play_blue.png" alt="Start Playback">
	<img src="/media/images/icons/control_pause_blue.png" alt="Stop Playback">
	<img src="/media/images/icons/control_stop_blue.png" alt="Start Playback">
	<img src="/media/images/icons/control_start_blue.png" alt="Start Playback">
	<img src="/media/images/icons/control_end_blue.png" alt="Start Playback">
{% else %} 
	You can not control Playback<br>
	if this is an error (you think you should have the proper permissions) contact a LanMPD Admin
{% endif %}
</p>
</center>
<br>
<br>
<br>
<form action="/web/player/change_song/" method="GET">
	{{playlist}}
	<p><input type="submit" value="Change Song"></p>
</form>



{% endblock  %}
